inkscape-shortcut-manager/
rob7/perception/perceptionEnv/
rob7/project/solution/


rob8/object_manipulation_task_planning/omtp_env/
rob8/object_manipulation_task_planning/rl_env/


project/development/hand_rl_ws/.catkin_tools/
project/development/hand_rl_ws/logs/


**/build/**
**/devel/**


**/.vscode/**
